<!DOCTYPE html>
<html>
<head>
  <h1>Hello, World!!</h1>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<p>Created by: Alesha Pryor, Grace Herron and Fatoumata Diallo</p>
<p>Our Mother, Our life, Our home: Earth. As the only planet that holds life,
  we treat it horribly. Polluting, production of greenhouse gasses and more, hurt the earth everyday.
  We have to do something! This website was created as a resource TO make that change. Explore our tabs and take action in your community today. Save the earth!</p>
</body>
</html>
